<!-- <app-space-station
  [width]="466"
  [height]="466"
  [radius]="209"
  [thick]="3"
  [max]="100"
  [min]="0"
  [imageUrls]="[
    'assets/imgs/circle-outdoor.png',
    'assets/imgs/circle-indoor.png'
  ]"
  [value]="0.5"
  (dragStart)="dragStart($event)"
  (dragEnd)="dragEnd($event)"
></app-space-station> -->

<div class="control-panel">

  <!-- Station Resource -->
  <div class="station-vitals">

    <!-- Play Controls -->
    <div class="play-control">
      <button mat-raised-button color="primary" (click)="gameCycleService.start()">Start</button>
      <button mat-raised-button color="warn" (click)="gameCycleService.stop()">Stop</button>
    </div>

    <!-- Resources -->
    <mat-card class="resource-levels">
      <mat-card-subtitle>
        <span>Container Levels</span>
        <span [ngClass]="{'color-primary': timer}">Day {{day}}</span>
      </mat-card-subtitle>
      <mat-card-content>

        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource </th>
            <td mat-cell *matCellDef="let container">{{container.resource.label}}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
            <td mat-cell *matCellDef="let container"> {{container.value | number :'1.0-0'}} </td>
          </ng-container>
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef>Level</th>
            <td mat-cell *matCellDef="let container"> 
              <mat-progress-bar
                class="example-margin"
                [color]="container.value ? 'primary' : 'warn'"
                [mode]="'determinate'"
                [value]="container.value * (100/container.max)"
              >
              </mat-progress-bar>
            </td>
          </ng-container>
          <ng-container matColumnDef="max">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Max </th>
            <td mat-cell *matCellDef="let container"> {{container.max}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card-content>
    </mat-card>

  </div>
  
  <!-- Available Components -->
  <mat-card class="available-components">
    <mat-card-subtitle>
      <span>Assembly</span>
    </mat-card-subtitle>
    <mat-card-content>
      <button
        *ngFor="let stationComponentLabel of stationService.stationComponentList; let i = index;"
        mat-stroked-button
        color="accent"
        (click)="addStationComponent(stationComponentLabel)"
      >{{stationComponentLabel}}</button>
    </mat-card-content>
  </mat-card>

  <!-- Available Deliveries -->
  <mat-card class="available-deliveries">
    <mat-card-subtitle>
      <span>Deliveries</span>
    </mat-card-subtitle>
    <mat-card-content>
      <button
        *ngFor="let stationDeliveryLabel of stationService.stationDeliveryList; let i = index;"
        mat-stroked-button
        color="accent"
        (click)="addStationDelivery(i)"
      >{{stationDeliveryLabel}}</button>
    </mat-card-content>
  </mat-card>

  <!-- Available Personel -->
  <mat-card class="available-personel">
    <mat-card-subtitle>
      <span>Academy</span>
    </mat-card-subtitle>
    <mat-card-content>
      <button
        *ngFor="let stationPersonelLabel of stationService.stationPersonelList; let i = index;"
        mat-stroked-button
        color="accent"
        (click)="addStationPersonel(i)"
      >{{stationPersonelLabel}}</button>
    </mat-card-content>
  </mat-card>

  <!-- Personel -->
  <mat-card class="station-personel">
    <mat-card-subtitle>Personel</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip
          [color]="'primary'"
          [selectable]="true"
          [removable]="true"
          (removed)="removeStationPersonel(i)"
          *ngFor="let personel of stationService.spaceStation.personel; let i = index;"
        >
          {{personel.alt}} <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>

  <!-- Component List -->
  <div class="station-components">
          
    <!-- Components -->
    <mat-card
      [ngClass]="{'active' : component.active, 'disabled' : component.disabled}"
      *ngFor="let component of stationService.spaceStation.components; let i = index;"
    >
    
      <mat-card-subtitle>

        <span>{{component.label}}</span>

        <div><mat-icon
          *ngFor="let post of component.posts"
          class="icon-personel"
          [ngClass]="[post.personel ? 'personel-filled' : 'personel-vacant']"
          [svgIcon]="post.personel ? 'personel-filled' : 'personel-vacant'"
          (click)="assignStationPersonel(post)"
        ></mat-icon></div>

        <mat-icon
          class="icon-ports"
          svgIcon="ports"
          [ngClass]="{'failure' : component.portFailure}"
        ></mat-icon>

        <mat-slide-toggle
          [checked]="component.active"
          (toggleChange)="component.active = !component.active"
        ></mat-slide-toggle>

        <mat-icon svgIcon="close" (click)="removeStationComponent(i)"></mat-icon>
      </mat-card-subtitle>

      <mat-card-content>
        <mat-chip-list #chipList [multiple]="true">
          <ng-container *ngFor="let resource of stationResourceService.resources">
            <ng-container *ngFor="let port of component.ports">
              <mat-chip
                *ngIf="resource.type === port.type"
                [color]="port.fault ? 'warn' : 'none'"
                selected
              >
                {{resource.alt}}&nbsp;
                <span [ngClass]="[port.vector > 0 ? 'positive' : 'negative']">{{port.vector}}</span>
              </mat-chip>
            </ng-container>
            <ng-container *ngFor="let container of component.containers">
              <mat-chip *ngIf="resource.type === container.type">
                {{resource.alt}}&nbsp;
                <span>{{container.max}}</span>
              </mat-chip>
            </ng-container>
          </ng-container>
        </mat-chip-list>
      </mat-card-content>

    </mat-card>

  </div>

</div>